
<div id="exTab1" class="container">
	<ul class="nav nav-pills">
		<li class="active"><a ui-sref="admin.objectType">Типы
				объектов </a></li>
		<li><a ui-sref="admin.streetType">Типы улиц</a></li>
		<li><a ui-sref="admin.statusType" >Типы статусов</a></li>
		<li><a href="#4a" data-toggle="tab">Современные функции</a></li>
	</ul>

</div>
<div ui-view="object-types"></div>
<div ui-view="street-types"></div>
<div ui-view="status-types"></div>