<div class="modal-body">
    <h2 ng-bind="tableName"/>
    <!-- pass in the variable if our form is valid or invalid -->
    <form name="typeObjForm" ng-submit="saveType()" novalidate>

        <!-- NAME -->
        <div ng-class="{ 'has-error' : typeObjForm.name.$invalid && !typeObjForm.name.$pristine }">
            <label>Наименование</label>
            <input type="text" name="name" class="form-control" ng-model="entityType.name" required ng-minlength="3" ng-maxlength="40">
            <p ng-show="typeObjForm.name.$error.minlength" class="help-block">Имя слишком короткое</p>
            <p ng-show="typeObjForm.name.$error.maxlength" class="help-block">Имя слишком длинное</p>
            <br/>
        </div>

        <!-- SUBMIT BUTTON -->
        <button type="submit" class="btn btn-primary" ng-disabled="typeObjForm.$invalid">Сохранить</button>

    </form>
</div>