<div class="container">
    <h2 ng-bind="tableName"></h2>
    <a ui-sref=".new" class="btn btn-success"> Новый
        тип статуса</a>

    <tree-grid tree-data="tree_data" col-defs="col_defs"
               expand-on="expanding_property" expand-level="1"
               icon-leaf="glyphicon glyphicon-globe"/>
</div>